{
	"arrowParens": "always",
	"bracketSameLine": false,
	"bracketSpacing": true,
	"endOfLine": "lf",
	"jsxSingleQuote": false,
	"printWidth": 100,
	"proseWrap": "preserve",
	"semi": true,
	"singleQuote": true,
	"tabWidth": 3,
	"trailingComma": "all",
	"useTabs": false
}