---
import Hero from 'src/views/hero/Hero.astro';
import Nav from 'src/views/nav/Nav.astro';
import { Playground } from 'src/views/playground/Playground';
import Layout from '../layouts/Layout.astro';
---

<Layout title="tw-colors" theme="light">
   <main>
      <Nav />
      <Hero />
      <Playground client:load />
   </main>
</Layout>

<style>
   main {
      @apply h-full 
         min-h-screen;
      background: linear-gradient(
         115deg,
         hsl(var(--twc-gradient-start)) 6%,
         hsl(var(--twc-gradient-stop)) 250%
      );
   }
</style>
