---
export interface Props {
   theme: string;
}

const { theme } = Astro.props;
---

<li data-theme={theme} class="bg-base-200 text-base-content">
   <h2 class="text-base-content-emphasis">{theme} theme</h2>

   <p>
      Lorem ipsum dolor sit amet elit asperiores dolores optio, amet adipisci
      modi perferendis voluptas molestiae rem tempore fuga asperiores voluptate
      ab dolor vel! Lorem ipsum dolor sit amet consectetur adipisicing elit.
   </p>

   <button
      class="bg-primary text-primary-content"
      onclick={`document.documentElement.dataset.theme='${theme}'`}
   >
      Select
   </button>
</li>

<style>
   li {
      @apply rounded-3xl p-7 flex flex-col gap-1 items-start shadow-lg;
   }

   h2 {
      @apply font-extrabold capitalize text-xl;
   }

   p {
      @apply line-clamp-2;
   }

   button {
      @apply mt-2 px-5 py-2 rounded-full text-sm;
   }
</style>
