---
export interface Props {
   themeClass: string;
}

const { themeClass } = Astro.props;

const themeName = themeClass.replace('theme-', '');
---

<li class={`${themeClass} bg-base-200 text-base-content`}>
   <h2 class="text-base-content-emphasis">{themeName} theme</h2>

   <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores optio,
      amet adipisci modi perferendis voluptas molestiae rem tempore fuga
      asperiores voluptate ab dolor vel! Lorem ipsum dolor sit amet consectetur
      adipisicing elit.
   </p>

   <button
      class="bg-primary text-primary-content border-primary"
      onclick={`document.documentElement.className='${themeClass}'`}
   >
      Select
   </button>
</li>

<style>
   li {
      @apply rounded-3xl p-8 flex flex-col gap-2 items-start shadow-lg;
   }

   h2 {
      @apply font-extrabold capitalize text-xl;
   }

   p {
      @apply text-sm line-clamp-3;
   }

   button {
      @apply mt-2 px-4 py-1.5 rounded-full border-2 text-sm;
   }
</style>
