---
export interface Props {
   themeClass: string;
}

const themeName = Astro.props.themeClass.replace('theme-', '');
---

<li class={`${Astro.props.themeClass} bg-base-200 text-base-content`}>
   <h2 class="text-base-content-emphasis">{themeName} theme</h2>

   <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores optio,
      amet adipisci modi fugit hic atque, perferendis error voluptas, molestiae
      rem tempore fuga asperiores voluptate ab dolor vel! Lorem ipsum dolor sit
      amet consectetur adipisicing elit. Eum eos neque similique magnam in
      deserunt totam id. Quia officiis soluta placeat fugit. Assumenda, commodi
      nobis. Deserunt voluptatum quibusdam nemo nobis!
   </p>

   <button class="bg-primary text-primary-content border-primary">
      Apply theme
   </button>
</li>

<style>
   li {
      @apply rounded-3xl p-8 flex flex-col items-center gap-4 shadow-lg;
   }

   h2 {
      @apply font-extrabold capitalize text-[26px] sm:text-3xl;
   }

   p {
      @apply text-base text-center line-clamp-5;
   }

   button {
      @apply w-full mt-3 py-3 rounded-full border-2 text-sm sm:text-base;
   }
</style>
