{
   "$schema": "https://json.schemastore.org/eslintrc",
   "env": {
      "browser": true,
      "node": true,
      "es2022": true
   },
   "extends": ["eslint:recommended"],
   "parserOptions": {
      "ecmaVersion": "latest"
   },
   "settings": {
      "react": {
         "version": "detect"
      },
      "import/resolver": {
         "typescript": {
            "alwaysTryTypes": true
         }
      }
   },
   "overrides": [
      {
         "files": ["*.astro"],
         "extends": [
            "plugin:@typescript-eslint/recommended",
            "plugin:astro/recommended",
            "plugin:astro/jsx-a11y-recommended"
         ],
         "parser": "astro-eslint-parser",
         "rules": {
            "@typescript-eslint/no-empty-interface": 0
         }
      },
      {
         "files": ["*.ts", "*.tsx", "*.js", ".jsx"],
         "extends": [
            "plugin:astro/recommended",
            "plugin:@typescript-eslint/recommended",
            "plugin:react-hooks/recommended"
         ],
         "rules": {
            "@typescript-eslint/no-empty-interface": 0,
            "@typescript-eslint/no-explicit-any": 0
         }
      },
      {
         "files": ["*.tsx", "*.jsx"],
         "extends": [
            "plugin:react/recommended",
            "plugin:react/jsx-runtime",
            "plugin:jsx-a11y/recommended"
         ],
         "rules": {
            "react/prop-types": 0
         }
      }
   ],
   "rules": {
      "no-unused-vars": 1
   }
}
