<div class="bash">
   <div role="img">
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
   </div>
   <code><span class="opacity-50">$</span> npm i tw-colors</code>
</div>

<style>
   .bash {
      /* border: 1px solid currentColor; */
      @apply p-5 rounded-lg border border-solid border-primary bg-highlight/5;
   }

   div[role='img'] {
      @apply flex gap-2.5 mb-3.5;
   }

   .dot {
      @apply h-3 w-3 rounded-full bg-highlight/30;
   }
</style>
