---
import Bash from './Bash.astro';
import Marker from './Marker.astro';
---

<section>
   <h1>tw-colors</h1>
   <h2>
      <span>The fastest way to theme</span>{' '}<span>tailwind apps.</span>
   </h2>
   <div class="thin-container">
      <ul>
         <li><Marker /> Intuitive and easy to use API</li>
         <li><Marker /> Faster development</li>
         <li><Marker /> Full Tailwind CSS Intellisense support</li>
         <li><Marker /> Zero javascript shipped, it's just CSS!</li>
      </ul>

      <Bash />

      <button>Get started</button>
   </div>
</section>

<style>
   section {
      @apply container flex flex-col items-center;
   }

   h1 {
      font-size: clamp(40px, 7.5vw, 80px);
      @apply text-base-content-emphasis font-extrabold pt-2;
   }

   h2 {
      font-size: clamp(18px, 3.1vw, 32px);
      @apply font-bold tracking-wide text-center;
   }

   h2 span {
      @apply inline-block;
   }

   ul {
      @apply pt-6 pb-6;
   }

   li {
      @apply flex gap-3 items-center py-1.5 sm:text-[17px];
   }

   li svg {
      @apply -mb-px;
   }

   button {
      @apply mt-8 h-14 text-lg tracking-wide w-full bg-primary text-primary-content rounded-lg font-medium;
   }
</style>
