---
import IconGithub from './IconGithub.astro';
---

<nav class="px-2">
   <a href="https://github.com/L-Blondy/tw-colors"><IconGithub /></a>
</nav>

<style>
   nav {
      @apply w-full flex items-center justify-end h-16;
   }

   nav a {
      @apply p-3;
   }
</style>
