---
import type { HTMLAttributes } from 'astro/types';
import IconMoon from './iconMoon.astro';
import IconSun from './IconSun.astro';

export interface Props extends HTMLAttributes<'label'> {
   themeON: string;
   themeOFF: string;
   checked: boolean;
}

const { themeON, themeOFF, checked, ...props } = Astro.props;
---

<label {...props}>
   <input
      name="theme"
      id="theme"
      type="checkbox"
      onchange={`document.documentElement.dataset.theme=this.checked?"${themeON}":"${themeOFF}"`}
      checked={checked}
      hidden
   />

   <IconMoon class="opacity-20" />
   <IconMoon class="icon-dark" />

   <IconSun class="ml-auto opacity-20 scale-90" />
   <IconSun class="icon-light" />
</label>

<style>
   label {
      --duration: 300ms;
      transition: color var(--duration);
      @apply flex 
         w-12
         h-5
         relative 
         rounded-full
         bg-base-200
         outline
         outline-4
         -outline-offset-1
         outline-base-200
         cursor-pointer;
      box-shadow: 0 0 0 4.5px currentColor;
   }

   .icon-dark,
   .icon-light {
      transition-property: transform, left, right;
      transition-duration: var(--duration);
      @apply absolute;
   }

   .icon-dark {
      @apply left-0 scale-110;
   }

   .icon-light {
      @apply right-0;
   }

   input:checked ~ .icon-dark {
      @apply left-full -translate-x-full rotate-180 opacity-0;
   }

   input:not(:checked) ~ .icon-light {
      @apply right-full translate-x-full -rotate-180 opacity-0;
   }
</style>
